# Compiled Object files
*.slo
*.lo
*.o
*.occ

# contents of bin in general
bin/*

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# executables
sumwar
compiler-demo
mapgen
konzoltest

# flex-generated lexer
src/compiler/summ.yy.cc

# bisonc++-generated parser
parse.cc
#summparse.ih
summparsebase.h
